<h1>Formations</h1>
{% if formations is empty %}
    <p>Aucune formation disponible.</p>
{% else %}
    <ul>
        {% for formation in formations %}
            <li>{{ formation.titre }} - {{ formation.description }}</li>
            <form action="{{ path('achat') }}" method="post">
                <input type="hidden" name="programme_id" value="{{ formation.id }}">
                <input type="hidden" name="utilisateur_id" value="{{ app.user.id }}"> {# Assurez-vous que l'utilisateur est authentifié #}
                <button type="submit">Acheter {{ formation.titre }}</button>
            </form>
        {% endfor %}
    </ul>
{% endif %}
