{# templates/programme/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ programme.titre }}{% endblock %}

{% block body %}
    <h1>{{ programme.titre }}</h1>
    <p><strong>Description :</strong> {{ programme.description }}</p>
    <p><strong>Prix :</strong> {{ programme.prix }} €</p>
    <p><strong>Durée :</strong> {{ programme.duree }} jours</p>

    <h2>Avis</h2>
    <ul>
        {% for avis in programme.avis %}
            <li>{{ avis.contenu }} - {{ avis.date | date('Y-m-d') }}</li>
        {% endfor %}
    </ul>

    <h2>Achat</h2>
    <form action="{{ path('achat_programme', {'id': programme.id}) }}" method="post">
        <button type="submit">Acheter</button>
    </form>

    <a href="{{ path('programmes') }}">Retour à la liste des programmes</a>
{% endblock %}
